@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

/* Hide scrollbar for textarea (Chrome, Edge, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

html {
  scrollbar-width: none !important;
}

html::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background: #2a3d45;
  z-index: 99999;
  transform-origin: top;
  transform: scaleY(0);
  animation: scroll-v auto linear;
  animation-timeline: scroll();
}

@keyframes scroll-v {
  to {
    transform: scaleY(1);
  }
}

::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}

::-webkit-scrollbar-corner {
  background: transparent !important;
}


/* Firefox Support */